	#header {
		border-style: solid;
 	  	border-bottom-color: #61c419;
		background-color: #58AE25;
		background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #58AE25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#58AE25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#58AE25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #61c419 0%,#61c419 50%,#61c419 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #61c419 0%,#61c419 50%,#61c419 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #61c419 0%,#61c419 50%,#61c419 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#58AE25',GradientType=0 ); /* IE6-9 */
		margin-bottom:0px;
	}
	#app_name {
		background-color: #58AE25;
		background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #58AE25 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#58AE25)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#58AE25 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #61c419 0%,#61c419 50%,#58AE25 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #61c419 0%,#61c419 50%,#58AE25 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #61c419 0%,#61c419 50%,#58AE25 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#58AE25',GradientType=0 ); /* IE6-9 */
		/* background-color: #7FDC2A; */
		/* background-image: -webkit-linear-gradient(left top, green, #7FDC2A);
		background-image: -moz-linear-gradient(left top, green, #7FDC2A);
		background-image: -o-linear-gradient(left top, green, #7FDC2A);
		background-image: -webkit-gradient(linear, 0 0, 100% 100%, from(green), to(#7FDC2A));
		background-image: linear-gradient(left top, green, #7FDC2A); */
		padding: 10px;
		text-align: center;
		/* font-style: italic; */
		font-weight: bold;
		position: relative;
		width: 97%;
		color: #eee8aa;
		text-shadow: 0px 2px #895b24;
   		font-size: x-large;
	}
	#footer{
		text-align: center;
	}
	
	
	
	










.burger {
	    text-align: center;
    height: 35px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-width: 0 4px 0 4px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* background-image: url('../sl/bgbutton.png'); */
    -webkit-border-radius: 2px;
    min-width: 80px;
    font-size: 14px;
}
.logo {
	position: relative;
	z-index: 123;
	padding: 10px;
	color: #6DDB07;
	float: left;
	width: 15%
}

.logo a {
	color: #6DDB07;
}

nav {
	position: relative;
	width: 980px;
	margin: 0 auto;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile
	{
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ffffc2;
    border-radius: initial;
    z-index: 999;
}

#cssmenu:after, #cssmenu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#cssmenu #head-mobile {
	display: none
}

#cssmenu {
	background: #ffffc2;
	max-width: 800px;
    height: 47px;
}
#cssmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu>ul>li {
	float: left
}

#cssmenu>ul>li>a {
	padding: 17px;
	font-size: 13px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #12711a;
	font-weight: 700;
}

#cssmenu>ul>li:hover>a, #cssmenu ul li.active a {
	color: #ffffc2;
	background: #58AE25;
}

#cssmenu>ul>li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active,
	#cssmenu ul li.has-sub.active:hover {
	background: #448D00 !important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}

#cssmenu>ul>li.has-sub>a {
	padding-right: 30px
}

#cssmenu>ul>li.has-sub>a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #444;
	content: ''
}

#cssmenu>ul>li.has-sub>a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #444;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu>ul>li.has-sub:hover>a:before {
	top: 23px;
	height: 0
}

#cssmenu ul ul {
	position: absolute;
	left: -9999px
}

#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #58AE25;
	transition: all .25s ease
}

#cssmenu li:hover>ul {
	left: auto
}

#cssmenu li:hover>ul>li {
	height: 35px
}

#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0
}

#cssmenu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 270px;
	font-size: 13px;
	text-decoration: none;
	color: #12711a;
	font-weight: 400;
	z-index: 999;
	background-color: #e3f1a0;
}

#cssmenu ul ul li:last-child>a, #cssmenu ul ul li.last-item>a {
	border-bottom: 0
}

#cssmenu ul ul li:hover>a, #cssmenu ul ul li a:hover {
	color: #ffffc2;
	background: #58AE25;
}

#cssmenu ul ul li.has-sub>a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #444;
	content: ''
}

#cssmenu ul ul li.has-sub>a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #444;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#cssmenu ul ul>li.has-sub:hover>a:before {
	top: 17px;
	height: 0
}

#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover
	{
	background: #363636;
}

#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}

#cssmenu>ul>li.has-sub>ul>li.active>a, #cssmenu>ul ul>li.has-sub>ul>li.active>a
	{
	border-top: 1px solid #333
}
.burger {
	display: none;
	}
@media screen and (max-width:800px) {
	.logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 46px;
		text-align: center;
		padding: 10px 0 0 0;
		float: none
	}
	.logo2 {
		display: none
	}
	nav {
		width: 100%;
	}
	
	#header{
		margin-bottom: 46px;
	}
	
	#cssmenu {
		width: 100%;
		position: absolute;
	}
	#cssmenu ul {
		width: 100%;
		display: none
	}
	#cssmenu ul li {
		width: 100%;
		border-top: 1px solid #444
	}
	#cssmenu ul li:hover {
		background: #363636;
	}
	#cssmenu ul ul li, #cssmenu li:hover>ul>li {
		height: auto;
	}
	#cssmenu ul li a, #cssmenu ul ul li a {
		width: 100%;
		border-bottom: 0
	}
	#cssmenu>ul>li {
		float: none
	}
	#cssmenu ul ul li a {
		padding-left: 25px
	}
	#cssmenu ul ul li {
		background: #e3f1a0 !important;
	}
	#cssmenu ul ul li:hover {
		background: #363636 !important
	}
	#cssmenu ul ul ul li a {
		padding-left: 35px
	}
	#cssmenu ul ul li a {
		color: #12711a;
		background: none;
		text-align: left;
		padding-left: 50px;
	}
	#cssmenu ul ul li:hover>a, #cssmenu ul ul li.active>a {
		color: #fff
	}
	#cssmenu ul ul, #cssmenu ul ul ul {
		position: relative;
		left: 0;
		width: 100%;
		margin: 0;
		text-align: left
	}
	#cssmenu>ul>li.has-sub>a:after, #cssmenu>ul>li.has-sub>a:before,
		#cssmenu ul ul>li.has-sub>a:after, #cssmenu ul ul>li.has-sub>a:before
		{
		display: none
	}
	#cssmenu #head-mobile {
		display: block;
		padding: 23px;
		color: #444;
		font-size: 12px;
		font-weight: 700
	}
	.burger {
		display: block;
		width: 55px;
		height: 46px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		z-index: 12399994;
		background-image: none;
	}
	.burger:after,
	.burger.menu-opened:after {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		height: 4px;
		width: 20px;
		border-top: 2px solid #444;
		border-bottom: 2px solid #444;
		content: '';
	}
	.burger:before,
	.burger.menu-opened:before {
		-webkit-transition: all .3s ease;
		-ms-transition: all .3s ease;
		transition: all .3s ease;
		position: absolute;
		top: 16px;
		right: 20px;
		display: block;
		height: 2px;
		width: 20px;
		background: #444;
		content: '';
	}

	#cssmenu .submenu-button {
		position: absolute;
		z-index: 9999;
		right: 0;
		top: 0;
		display: block;
		border-left: 1px solid #444;
		height: 46px;
		width: 46px;
		cursor: pointer
	}
	#cssmenu .submenu-button.submenu-opened {
		background: #e3f1a0
	}
	#cssmenu ul ul .submenu-button {
		height: 34px;
		width: 34px
	}
	#cssmenu .submenu-button:after {
		position: absolute;
		top: 22px;
		right: 19px;
		width: 8px;
		height: 2px;
		display: block;
		background: #444;
		content: ''
	}
	#cssmenu ul ul .submenu-button:after {
		top: 15px;
		right: 13px
	}
	#cssmenu .submenu-button.submenu-opened:after {
		background: #ffffc2
	}
	#cssmenu .submenu-button:before {
		position: absolute;
		top: 19px;
		right: 22px;
		display: block;
		width: 2px;
		height: 8px;
		background: #444;
		content: ''
	}
	#cssmenu ul ul .submenu-button:before {
		top: 12px;
		right: 16px
	}
	#cssmenu .submenu-button.submenu-opened:before {
		display: none
	}
	#cssmenu ul ul ul li.active a {
		border-left: none
	}
	#cssmenu>ul>li.has-sub>ul>li.active>a, #cssmenu>ul ul>li.has-sub>ul>li.active>a
		{
		border-top: none
	}
}

/*  */
#content a.nav {
		color: #06480c;
	}
	ul.about {
		list-style: none;
		margin: 10px;
		padding: 0;
	}
	ul.ulbar {
	    list-style-type: none;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	    background-color: #ffffc2;
	}
	
	li.libar {
	    float: left;
	}
	
	ul li.libar:first-child a {
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
	}
	ul li.libar:last-child a {
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
	}
	ul li.about {
		margin: 10px;
		list-style-type: disc;
	}
	
	ul li a.liabar {
		border: 0px solid #58AE25;
	    color: #12711a;
	}
	a.liabar {
	    display: block;
	    color: #ccff99;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	    background-color: #ffffc2;
	}

	#homeImg a {
		color: black;
		text-align: center;
	}

	#diagnose a {
		color: black;
	}
	
	/* Change the link color to #58AE25 (green) on hover */
	a.liabar:hover {
	    /* background-color: #58AE25; */ 
	    background-color: #59b023;/*  #009900; */
	    color: black;
	    
	}
	
	.hbasic {
		float: left;
		text-align: center;
		font-size: 14px;
		position: relative;
		top: -10px;
		left: 125px;
	}
	
	.imgIns{
		width: 65px
	}

	.imghrc{
		width: 100px
	}
	
	img.right {
	    float: right;
	}
	img.left {
	    float: left;
	}
	p.right {
	    float: right;
	}
	p.left {
	    float: left;
	}
	
	h3.left {
	    float: left;
	}
	
	/* ======= */

#landing {
	width: 100%;
}






	
	

/* ======= */
#homeImg {
	width: 48%;
	float: left;
	border-right-width: 1px;
}

#homeImg.s {
	border-top-style: none;
	border-left-style: none;
	border-bottom-color: gray;
	border-right-style: solid;
}

#homeBasic {
	/* width: 50%; */
	text-align: center;
	float: left;
	overflow: hidden;
}
#home_rcm img {
	width: 80%;
	/* padding-left: 100px; */
}
.clickIns {
	width: 100%;
	float: left;
	left: 100px;
}
.clickIns2 {
	font-size: larger;
	width: 95%;
	float: right;
}
/* ======= */

#diagnose {
	width: 48%;
	overflow: auto;
	padding-left: 20px;
}

#homeDiag {
	/* float: right; */
	font-size: larger;
	/* overflow: hidden; */
	/* width: 60%;  */
}

#rhcText {
	font-size: larger;
	padding-bottom: 0;
} 
#home_rhc img {
	width: 40%;
	/* padding-left: 100px; */
}
/* */

#homeIns {
	/* float: right; */
	font-size: larger;
	/* overflow: hidden; */
	/* width: 60%;  */
}

#homeIns ul li {
	/* padding-bottom: 30px; */
}

#farmerIns{
	width: 100%;
	float: left;
	padding-bottom: 30px;
}
#gpFarmer{
	width: 50%;
    position: static;
	float: left;
}
#gpFarmer:hover{
	background-color: #9bbb59;
}
#gpImg{
	/* width: 20%; */
	float: left;
}
#gpTxt{
	/* width: 80%; */
}
#idFarmer{
	width: 50%;
	float: right;
	position: static;
}
#idFarmer:hover{
	background-color: #9bbb59;
}
#idImg{
	/* width: 20%; */
	float: left;
}
#idTxt{
	/* width: 80%; */
	/* padding-bottom: 30px; */
} 
#smsCallFarmer{
	width: 50%;
	position: static;
	float: left;
}
#smsCallFarmer:hover{
	background-color: #9bbb59;
}
#smsCallImg{
	/* width: 20%; */
	float: left;
}
#smsCallTxt{
	/* width: 80%; */
	/* padding-bottom: 30px; */
}
#smsFaceFarmer{
	width: 50%;
	float: right;
	position: static;
}
#smsFaceFarmer:hover{
	background-color: #9bbb59;
}
#smsFaceImg{
	/* width: 20%; */
	float: left;
}
#smsFaceTxt{
	/* width: 80%; */
	/* padding-bottom: 30px; */
} 

/* */



#extIns{
	width: 100%;
	float: left;
	padding-bottom: 30px;
}
#rhcFarmer{
	width: 50%;
    position: static;
	float: left;
}
#rhcFarmer:hover{
	background-color: #9bbb59;
}
#rhcImg{
	/* width: 20%; */
	float: left;
}
#rhcTxt{
	/* width: 80%; */
}
#rffFarmer{
	width: 50%;
	float: right;
	position: static;
}
#rffFarmer:hover{
	background-color: #9bbb59;
}
#rffImg{
	/* width: 20%; */
float: left;
	}
#rffTxt{
	/* width: 80%; */
}

/* */


#whats_new{
	width: 100%;
	float: left;
	padding-bottom: 30px;
}

#whatsNewTxt{
	/* width: 80%; */
	text-align: center;
}

@media ( max-width : 700px) {
	#homeImg {
			float: none !important;
			width: 100%;
	}
	#homeImg.s {
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
	}
	#diagnose {
			float: none !important;
			width: 100%;
	}


}



.contactus-label{
	width: 175px !important; 
	height: 12pt; 
	display: inline-block;
	text-align: right;
	margin-bottom: 0px;
}

.contactus-select{
	width: 337px !important;
	vertical-align: middle;
	padding: 5px;
}


.contactus-input{
	width: 324px !important;
	vertical-align: middle;
}

.contactus-textarea{
	width: 332px;
	height: 100px;
	vertical-align: middle;
}

.contact-submit{
	width: auto !important;
	padding: 7px;
}

@media screen and (max-width:800px) {
	.contactus-label{
		width: 97% !important;
		text-align: left;
		margin-bottom: 5px;
	}
}