#birthdateInfo {
	margin-top: 15px;
}

#bm_farmer, #bd_farmer, #by_farmer, #fidbm, #fidbd, #fidby {
	width: auto;
}

#farmerImg {
	max-width: 550px;
}

#fDetailsSpan, #foIntroSpan, #ltInfoSpan {
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 20px;
}

#gfarmer1 {
	margin-bottom: 10px;
}

#hideFarmer {
	display: block;
}




#lname_farmer {
	margin-bottom: 15px;
}

#progress {
	color: white;
}

#raas {
	color: #663300;
	font-size: xx-large !important;
	font-weight: bold !important;
	margin-bottom: 15px;
	margin-top: 10px;
}

#rfHead {
	max-width: 300px;
}

#saiSpan {
	vertical-align: middle;
}

#savePDF, #dlFarmerForm {
	color: black !important;
	vertical-align: bottom;
}

#savePDF>span {
	position: relative;
	top: 10px;
}

#saveReminder {
	left: 25% !important;
	right: 25% !important;
	top: 25% !important;
	z-index: 99999999;
}

#sfarmer1 {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

#srDiv {
	float: left;
	padding-right: 10px;
	padding-top: 8px;
	width: auto;
}

#surnameExt {
	margin-bottom: 15px;
}

.aas_menu {
	color: #663300 !important;
}

.inline {
	display: inline;
}

.locSpan {
	float:left;
	margin-top: 5px;
	width: 13%;
}

.noBorder {
	border: 0px none #fff !important;
}

.noteMsg {
	border: solid 1px green;
	border-radius: 5px;
	padding: 2px;
	width: 80%;
	margin-bottom: 10px;
	margin-top: 3px;
	background: #E4EE7E;
	box-shadow: 3px 3px 3px;
}

.rowDisp4 label {
	width : 100% !important;
}

.tf {
	width: 80%;
}

.toast {
	left: 25% !important;
	right: 25% !important;
	top: 25% !important;
	z-index: 99999999;
}

.warning {
	color: green;
	font-style: italic;
}

.weed {
	margin-top: 10px;
}

it {
	font-style: italic;
}

td {
	border: 1px solid gray;
}

@media ( max-width : 700px) {
	#homeImg {
		float: none !important;
		width: 100%;
	}
#diagnose {
		float: none !important;
		width: 100%;
	}
/* 		#homeIns {
		float: none !important;
		padding-top: 0;
		width: 60%;
	} */
	
	.locSpan {
		float:left;
		margin-top: 5px;
		width: 40%;
	}
	
	label {
		width : 100% !important;
	}
}

@media ( max-width : 400px) {

	.ellipsis {
		width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	label {
		width : 100% !important;
	}
	
}

@media ( max-width : 300px) {
	#aasMenu {
		margin-top: 10px;
	}
	
	
}


